


/* -------------------------------------------chatbox------------------------------------------- */

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    border: red 1px solid;

}


.chatp{
    text-align: center;
}

.chatp h2{
    Color:#368BC1;
    font-size: 50px;
    font-weight: bold;

}

.chatp p{
    margin-bottom: 30px;

}

.chatbox {

    margin: 0 auto;
    padding: 10px 20px;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid #dedede;
    position: relative;
    height: 500px;
    max-width: 800px;
        background-color: lightblue;
    overflow: auto;
    
}


.chat {
    border: 2px solid #dedede;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid red;

}

.darker {
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 350px;
        border: 2px solid red;

}

.chat::after {
    content: "";
    clear: both;
    display: table;

}

  
.chat img {
    float: left;
    max-width: 50px;
    width: 80%;
    margin-right: 20px;
    border-radius: 50%;
}

.chat img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}


.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.chat-message {
    justify-content: center;
    background: #36a2c1;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #dedede;
    border-top:none;


}

.chat-input{
    width: 85%;
    height: 40px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;


}

.chat-button{
    margin-left: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: #ffffff;
    font-size: 25px;

}



























