/* warranty policy */
.brand-header {
    margin-bottom: 30px;

}

.brand-header h2{
    margin-top:50px;
    margin-bottom: 30px;
    color: #368BC1;
    text-align: center;
    font-size: 50px;
    font-weight: bold
}

.brand-section {
    margin-bottom: 30px;
}

.brand-section h3 {
    font-size: 18px;

}

.brand-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

.service-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service-center .center-info {
    flex-basis: 80%;
}

.service-center .center-info h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #368BC1;
    text-align: left;
}

.service-center .center-info p {
    margin: 0;
    color: #666666;
    text-align: left;
}

.service-center .center-info .contact {
    font-weight: bold;
    color: #333333;
}

.service-center .center-image {
    flex-basis: 20%;
    text-align: right;
}

.service-center .center-image img {
    max-width: 100%;
    height: auto;
}

.service-center .center-image .map-link {
    display: inline-block;
    padding: 10px;
    background-color: #368BC1;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.service-center .center-image .map-link:hover {
    background-color: #176F9E;
}