/* wishlist */
.wishlist-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.wishlist-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.wishlist-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.wishlist-item-details {
  display: flex;
  align-items: center;

}

.wishlist-item-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.wishlist-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-info {
  flex-grow: 1;
}

.item-info h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.item-info p {
  font-size: 14px;
  margin: 3px 0;
}

.item-info p span {
  font-weight: bold;
}

.item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
}

.item-actions button {
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  padding: 8px 16px;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.item-actions button i {
  margin-right: 5px;

}


.quantity-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 100px;


}

.quantity-container input {
  border: none;
  width: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 5px; 
  border: 1px solid #ccc;
  border-radius: 4px;

}