*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;

}

body{
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
}

.container-design {
    padding-top: 50px;
    background-color:  #2195dd1f; 
    background-image: url("img/container.png");
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #368BC1;
    z-index: 9;
    height: 80px;
    margin: 0 auto;

}

.nav-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 10px;

}

.nav-icon a {
    display: inline-block;
    text-decoration: none;
    color: #333; 
    transition: color 0.3s;
}

.nav-icon a:hover {
    color: #007bff; 
}

.nav-icon[data-count]:after {
    content: attr(data-count);
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}

.icon-count {
    background-color: #f00; 
    color: #fff; 
    position: absolute;
    top: -8px;
    right: -6px;
    font-size: 12px;
    padding: 3px 5.5px;
    border-radius: 50%;
}

.logo{
    height: 60px;
}

/* search */
.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #ffffff;
    text-transform: capitalize;
    background: none;
    color: #ffffff;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #505050;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #ffffff;
}


.contact-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.contact {
    text-align: center;
}

.content {
    margin-bottom: 30px;
    text-align: center;
}

.content h2 {
    margin: 30px 0;
    text-align: center;
    font-size: 40px;
}

.content p {
    margin: 10px 0;
    text-align: center;
}

.contact-info {
    display: inline-block;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 50%;
}

.contact-info .box {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-info .box:last-child {
    margin-bottom: 0;
}

.contact-info .box .icon1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5AA2D3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.contact-info .box .icon1 i {
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info .box .text {
    margin-left: 10px;
    text-align: left;
    width: calc(70% - 100px);
    display: flex;
    flex-direction: column; 
}

h3 {
    margin: 0;
}

p {
    margin: 5px 0;
}

.contact-form {
    max-width: 1000px;
    padding: 50px;
    padding-top: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    background: #ffffff;
    margin: 30px auto;
}

.contact-form h2 {
    padding: 20px;
    padding-top: 10px;

}

.form-group {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.form-group input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #555;
}

.form-group textarea {
    height: 250px;
}

.success-message {
    text-align: center;
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}


/* notification */
/* notification */
.custom-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    z-index: 1000;
}

.notification-content {
    flex-grow: 1;
}

.notification-title {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333333;
}

.notification-message {
    font-size: 14px;
    color: #777777;
}

.notification-close {
    background-color: #ff6347;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.notification-close:hover {
    background-color: #e74c3c; 
    color: #ffffff;
}

.notification-icon {
    position: relative;
}

.notification-icon img{
    height: 30px;
    margin-left: 5px;
}


.notification-badge {
    background-color: #f00; 
    color: #fff; 
    position: absolute;
    top: -8px;
    right: -6px;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 50%;

}

.notification-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-radius: 6px;
    display: none;
    z-index: 1;
}

.notification-content {
    padding: 10px;
}

.notification-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.notification-list {
    list-style: none;
    padding: 0;
}

.notification-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.notification-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.notification-item-header img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.notification-item-time {
    font-size: 12px;
    color: #888;
}

.notification-item-message {
    font-size: 14px;
    color: #333;
}

.notification-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
}

.notification-icon:hover .notification-dropdown {
    display: block;
}

.notification-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
}

.notification-dropdown.expanded {
    display: block;
}
.notification-item.unread {
    font-weight: bold;
} 


    /* design */

.slider-container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.slider-brand {
    height: 150px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.slider-brand a{
    position: relative;
    place-items: center;
    text-decoration: none

}


.slide-track {
    display: flex;
    width: calc(250px * 25);
    animation: scroll 25s linear infinite;

}

.slide-track:hover{
    animation-play-state: paused;
}


@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));

    }
}

.slide-brand {
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 20px;
    perspective: 100px;
}


.slider-brand::before,
.slider-brand::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: relative;
    width: 15%;
    z-index: 2;
}

.slider-brand::before {
    left: 0;
    top: 0;
}

.slider-brand::after {
    left: 0;
    top: 0;
    transform: rotateZ(180deg);
}

 .btn  {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 10px 10px 10px 10px;
    font-size: 1.4rem;
    text-transform: capitalize;
    color:#ffffff;
    cursor: pointer;
    text-align: center;
    background-color: #333;
 }
@media screen and (max-width: 768px) {
  .footer .grid {
    grid-template-columns: 1fr;
  }
}


  /*product_catalog*/
  
.disabled-button {
    pointer-events: none; 
    opacity: 0.6; 
    background-color: #f5f5f5; 
    color: #333; 
    border: none;
    padding: 0;
    cursor: default;
}

.disabled-link {
    text-decoration: none;
    color: #333;
}


.message-box {
    display: none;
    position: fixed;
    top: 20px; 
    right: 20px; 
    background-color: green;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.message-text {
    color: #fff;
    margin: 0;
    font-size: 18px;
}

.sidebar{
    width: 100%;
    align-items: left;
    display: flex;
  
}
  
.Product-header{
    text-align: center;
	color:  #368BC1;


}

.Product-header h1{ 
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 45px;
    border-bottom: #e7ecf1 1px solid;

}

.sample{
    text-align: left;
	color:  rgb(0, 174, 255); 

}

.left-sidebar{
    width: 20%;
    border-left: #e7ecf1 1px solid;
    border-right: #e7ecf1 1px solid;
    border-bottom: #e7ecf1 1px solid;
    align-items: left;
    margin-left: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;

}
  
.left-sidebar h3{
    text-align: center;
	color:  rgb(39, 37, 37);  
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    margin-bottom: 8px;


}

.panel-catalog{
    padding-top: 5px;
    margin-bottom: 8px;


}

.catalog-title {
    color: rgb(83, 83, 83);
    padding-bottom: 2px;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;


}

.catalog-title a {
    padding-bottom: 2px;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    margin-bottom: 2px;
    text-decoration: none;
    color: rgb(83, 83, 83);

}
.panel-catalog-default :hover {
	color:  rgb(0, 174, 255); 
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

}

.brand-title{
    color: rgb(83, 83, 83);
    padding-bottom: 2px;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
        
}

.brand-title a {
    padding-bottom: 2px;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    margin-bottom: 2px;
    text-decoration: none;
    color: rgb(83, 83, 83);

}

.panel-brand{
    padding-top: 10px;

}

.center-bar{

    height: auto;
    border: red 1px solid;

}



.panel h3{
    text-align: center;
	color:  rgb(97, 92, 92); 
    border-bottom: 1px solid #e1e1e1 ;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 28px;

}

.productinfo h2{
	color:  rgb(0, 174, 255); 
	font-size: 24px;
	font-weight: 700;
}

.product-overlay h2{
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}


.productinfo p{
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-imgsize{
    width: auto;
    height: auto;

}

.product-imgsize img{
    width: 260px;
    height: 300px;
    background-size: 90px 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-overlay {
  background: rgba(0, 174, 255, 0.548); 
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 1000ms ease 0s;
  width: 100%;
  display: block;
}


.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: rgb(0, 174, 255); 
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color:  rgb(0, 174, 255); 
}

.product-overlay p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.add-to-cart {
    background:none;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.2s ease;
  }
  
.add-to-cart:hover {
    background:  rgb(0, 174, 255); 
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
  }
  
.add-to{
    margin-bottom: 10px;
  }
  
.add-to-cart i{
      margin-right:5px;
  }
  
.add-to-cart:hover {
    background:  rgb(0, 174, 255); 
    color: #FFFFFF;
  }
  
.choose {
    border-top: 1px solid #F7F7F0;
    display: flex;
    padding-right: 40px;
  }

.choices {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}
  
.choose ul a {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 1px;
    padding-right: 1px;

}

.choose input[type=submit] {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 1px;
    padding-right: 1px;
    border: none;
    text-decoration: underline;
    background: none;
}

.choose ul input[type=submit]:hover {
    background:none;
      color: rgb(0, 174, 255); 
}
  
.choose ul a i{
      margin-right:1px;
}
  
.choose ul a:hover{
      background:none;
      color: rgb(0, 174, 255); 
}

.login-prompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.login-prompt-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.login-prompt-content h2 {
    margin: 0 0 10px;
}

.login-prompt-content p {
    margin: 0 0 20px;
    background-color: #00bbff
}

.login-prompt-content a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-prompt-content a:hover {
    background-color: #0056b3;
}

/* login-dropdown*/

.login-dropdown {
    position: relative;
    display: inline-block;
}

.login-dropbtn {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #1e90ff;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    padding: -13px; 
    padding-left: 20px;
    padding-bottom: 5%;
           

}

.login-dropdown-content {
    display: none;
    position: absolute;
    min-width:200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 100%;
    left: 80%;
    transform: translateX(-50%);
    display: none;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

}
    

.login-dropdown-content a {
    color: #333; 
    padding: 12px 16px; 
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-right: 20px;
    
}

.login-dropdown-content a:hover {
   color: #1e90ff;
    background-color: #ccc
}

.login-dropdown:hover .login-dropdown-content {
    display: block;
}

.login-dropdown-content a:last-child {
    margin-bottom: 0; 
}

.login-dropbtn img {
    vertical-align: middle; 
    margin-right: 5px;
}

  .mini-container {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .mini-container.show {
    display: block;
  }

  .mini-container a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }

  .mini-container a:hover {
    background-color: #f5f5f5;
  }





  /* other-designs */

.deals {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;


}

.deals-box {
    width: 300px;
    margin: auto;
    padding-top: 13px;
    padding-left:  10px;
    padding-bottom: 5px;
    border: 3px solid rgba(156, 156, 156, 0.068);
    display: flex;

}

.deals-box-img img{
    width: 100px;
    height: 60px;
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;

}

.deals-box-img p{
    padding-left: 140px;
    padding-right:  20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    align-items: center;

}
  
 
  /* Footer */


  .footer {
    background-color:  #368BC1;
    color: #ffffff;
    padding: 2% 1% 10px;


}

  
  .footer .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .footer .box {
    margin-bottom: 20px;

  }
  
  .footer h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    padding-left: 30%;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .grid .box a i{
    padding-right: 1rem;
    color:var(--main-color);
    transition: .2s linear;
   }
  
  .footer i {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .footer p {
    margin-top: 10px;
  }
  
  .credit {
    margin-top: 30px;
    text-align: center;

  }
  
  .kdqg {
      font-family: Arial, Helvetica, sans-serif 
  }
  
  .itechnologies {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }




/* search */
.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #ffffff;
    text-transform: capitalize;
    background: none;
    color: #ffffff;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #505050;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #ffffff;
}

/* menubar */
.links-container {
    width: 100%;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #008cff00;
    font-size: 15px;
}

.link-item {
    padding-left: 10px;

}

.link {
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 50px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #333;
    color: #fff;

}

/* menubar-dropdown*/
.dropdown {
    position: relative;
    display: inline-block;

}

.dropbtn {
    display: inline-block;
    background-color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding-top: 0px; 

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    border-radius: 10px;


}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;

}

.dropdown-content a:hover {
    background-color: #f0f0f0f5;
    color:  rgb(0, 174, 255); 
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;

}

.sidebar{
    width: auto;
    align-items: left;

  
}
 

/* footer */

.footer {
    background-color:  #368BC1;
    color: #ffffff;
    padding: 2% 1% 10px;


  }
  
  .footer .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .footer .box {
    margin-bottom: 20px;
    

  }
  
  .footer h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    padding-left: 30%;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .grid .box a i{
    padding-right: 1rem;
    color:var(--main-color);
    transition: .2s linear;
   }
  
  .footer i {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .footer p {
    margin-top: 10px;
  }
  
  .credit {
    margin-top: 30px;
    text-align: center;
  }
  
  .kdqg {
      font-family: Arial, Helvetica, sans-serif 
  }
  
  .itechnologies {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }


/*home-page*/

.home-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    
}
.home-sub-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color:  #2195dd1f; 
}


/* other-designs */

.readmore {
    text-transform: capitalize;
    text-decoration: none;
}

.deals-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.deals {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    justify-content: center;

}

.deals-box {
    width: 200px;
    margin: auto;
    padding: 5px;
    display: flex;
    border: 3px solid rgba(156, 156, 156, 0.068);

}

.deals-sub-box{
  width: 100%;
  display: flex;

}

.deals-box p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    padding-top: 5px;
    align-items: center;

}

    /* design */

    .slider-container{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        background: #fff;
    }
    
    .slider-brand {
        height: 150px;
        margin: auto;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        overflow-x: hidden;
    }
    
    .slider-brand a{
        position: relative;
        place-items: center;
        text-decoration: none
    
    }
    
    
    .slide-track {
        display: flex;
        width: calc(250px * 25);
        animation: scroll 25s linear infinite;
    
    }
    
    .slide-track:hover{
        animation-play-state: paused;
    }
    
    
    @keyframes scroll {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-250px * 9));
    
        }
    }
    
    .slide-brand {
        height: 100px;
        width: 250px;
        display: flex;
        align-items: center;
        padding: 20px;
        perspective: 100px;
    }
    
    
    .slider-brand::before,
    .slider-brand::after {
        content: '';
        height: 100%;
        position: relative;
        width: 15%;
        z-index: 2;
    }
    
    .slider-brand::before {
        left: 0;
        top: 0;
    }
    
    .slider-brand::after {
        left: 0;
        top: 0;
        transform: rotateZ(180deg);
    }
    
     .btn  {
        display: block;
        width: 100%;
        margin-top: 1rem;
        border-radius: 0.5rem;
        padding: 10px 10px 10px 10px;
        font-size: 1.4rem;
        text-transform: capitalize;
        color:#ffffff;
        cursor: pointer;
        text-align: center;
        background-color: #333;
     }
    @media screen and (max-width: 768px) {
      .footer .grid {
        grid-template-columns: 1fr;
      }
    }
    

/* product */

.product-container {
    width:100%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: center;


}

.catalog-container {
    width:100%;
    margin: 0 auto;
    padding-top: 15px;


  }

.container-catalog {
  width:100%;
  margin: auto;

}

.bottom-adjuster{
  width: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  margin: auto;
}

.panel-product{
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  background-color: rgb(255, 255, 255);


}

.product-image-wrapper{
	border:2px solid #c7e3ff56;
	overflow: hidden;
	margin-bottom:30px;
    margin-left: 10px;

}

.single-products {
    position: relative;
    text-align: center;
}

.productinfo h2{
	color:  rgb(0, 174, 255); 
	font-size: 24px;
	font-weight: 700;
}

.product-overlay h2{
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}


.productinfo p{
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-imgsize{
    width: auto;
    height: auto;

}

.product-imgsize img{
    width: 260px;
    height: 300px;
    background-size: 90px 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-overlay {
  background: rgba(0, 174, 255, 0.548); 
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 1000ms ease 0s;
  width: 100%;
  display: block;
}

.single-products:hover .product-overlay {
  display:block;
  height:106%;
}

.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: rgb(0, 174, 255); 
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color:  rgb(0, 174, 255); 
}

.product-overlay p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.add-to-cart {
    background:none;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.2s ease;
  }
  
.add-to-cart:hover {
    background:  rgb(0, 174, 255); 
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
  }
  
.add-to{
    margin-bottom: 10px;
  }
  
.add-to-cart i{
    margin-right:5px;
  }
  
.add-to-cart:hover {
    background:  rgb(0, 174, 255); 
    color: #FFFFFF;
  }
  
.choose {
    border-top: 1px solid #F7F7F0;
    display: flex;
    padding: 10px;
  }

.choices {

    margin: auto;
}
  
.choose ul a {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}

.choose input[type=submit] {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 1px;
    padding-right: 1px;
    border: none;
    text-decoration: underline;
    background: none;
}

.choose ul input[type=submit]:hover {
    background:none;
      color: rgb(0, 174, 255); 
}
  
.choose ul a i{
      margin-right:1px;
}
  
.choose ul a:hover{
      background:none;
      color: rgb(0, 174, 255); 
}

.zoom-effect {
    transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
    transform: scale(1.1);
}

.login-message {
        background-color: #f44336; 
        color: white; 
        text-align: center; 
        padding: 10px; 
        margin-bottom: 5px;
        border-radius: 5px; 
    }

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.custom-alert-content {
    text-align: center;
}

.custom-alert h2 {
    margin: 0;
    font-size: 18px;
}

.custom-alert p {
    margin-top: 10px;
}

.close-button {
    background-color: #f1f1f1;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

    .alert {
        background-color: #f44336;
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }

    .alert.success {
        background-color: #4CAF50;
    }

.sidebar-announcement-container {
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .sidebar-announcement-text {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }

        .sidebar-announcement-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
        }

        .sidebar-announcement-dismiss {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .sidebar-announcement-dismiss:hover {
            background-color: #0056b3;
        }
        
        .bannerr {
        background-color: #B3E0FF; 
        color: #ECF0F1;
        padding: 20px;
        text-align: center;
        background: linear-gradient(to bottom, #B3E0FF, #6AAFE6);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        
        .banner-links {
            margin-top: 20px;
        }
        
        .banner-links a {
            display: inline-block;
            text-decoration: none;
            color: #ECF0F1;
            margin: 0 15px;
            font-size: 18px;
            transition: color 0.3s;
            transition: background-color 0.3s, color 0.3s;

        }
        
        .banner-links a:hover {
            color: #ECF0F1; 
        }


        .product-showcase {
            background-color: #A2C3E7;
            padding: 20px;
            text-align: center;
        transition: background-color 0.3s; 
        }
        
        .product-showcase:hover {
            background-color: #6AAFE6; 
        }
        
        .product-showcase h2 {
        color: #34495E;
        margin-bottom: 20px;
        font-size: 24px;
        transition: color 0.3s; 
        }
        
        .product-showcase:hover h2 {
            color: #B3E0FF; 
        }

        
        .product-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }
        
        .product-card {
            background-color: #E0F2FE;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 300px;
            transition: transform 0.3s, box-shadow 0.3s;
            background-image: url('pattern.png');
        }
        
        .product-card:hover {
            transform: scale(1.05); 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        }

        .product-card img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        
        .product-card h3 {
            color: #34495E; 
            font-size: 20px;
            margin-bottom: 10px;
        }
        
        .product-card p {
            color: #777;
            font-size: 16px;
        }
        
        .banner-logo img {
    animation: pulse 2s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@media (max-width: 768px) {
    .product-card {
        width: 100%; 
    }
}

.branch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.branch {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    transition: transform 0.3s;
}

.branch-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; height: 100px; border-radius: 50%;
    color: #ECF0F1;
    font: bold 14px/1 Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.munoz { background-color: #AEEEEE; }
.cubao { background-color: #FFA500; }
.fisher { background-color: #98FB98; }
.glorietta { background-color: #FFC0CB; }
.mega { background-color: #9370DB; }
.north { background-color: #FFFF99; }

.branch-logo:hover {
    background-color: #0056b3;
    color: #fff; 
}

.branch h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}
