*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;

}

body{
    align-items: center;
    width: 100%;
    margin: 0 auto;
    

}

.nav-items {
    display: flex;
    align-items: center;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}


.nav-icon {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
}

.nav-icon[data-count]:after {
    content: attr(data-count);
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
}

.nav-icon img {
    width: 32px; 
    height: 32px;
    transition: transform 0.3s ease-in-out;
}

.nav-icon:hover img {
    transform: scale(1.1);
}

/* Notification Animation */
.notification {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-icon:hover .notification {
    display: block;
    animation: fadeInUp 0.3s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #368BC1;
    z-index: 9;
    height: 80px;
    margin: 0 auto;

}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}


.logo{
    height: 60px;
}

.nav-items{
    display: flex;
    align-items: center;
    
}

/* search */
.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #ffffff;
    text-transform: capitalize;
    background: none;
    color: #ffffff;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #505050;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #ffffff;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}

.result {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.result h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.result p {
    font-size: 16px;
    color: #666;
}

/* menubar*/

.links-container{
    width: 100%;
    height: 50%;
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #008cff00;
    font-size: 16px;
    background-color: #ffffff;
    margin: 0 auto;

}

.link{

    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 50px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
   
}

.link:hover {
    background-color: #333;
    color: #fff;
}

.contact-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.contact {
    text-align: center;
}

.content {
    margin-bottom: 30px;
    text-align: center;
}

.content h2 {
    margin: 30px 0;
    text-align: center;
    font-size: 40px;
}

.content p {
    margin: 10px 0;
    text-align: center;
}

.contact-info {
    display: inline-block;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 50%;
}

.contact-info .box {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-info .box:last-child {
    margin-bottom: 0;
}

.contact-info .box .icon1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5AA2D3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.contact-info .box .icon1 i {
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info .box .text {
    margin-left: 10px;
    text-align: left;
    width: calc(70% - 100px);
    display: flex;
    flex-direction: column; 
}

h3 {
    margin: 0;
}

p {
    margin: 5px 0;
}

.contact-form {
    max-width: 1000px;
    padding: 50px;
    padding-top: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    background: #ffffff;
    margin: 30px auto;
}

.contact-form h2 {
    padding: 20px;
    padding-top: 10px;

}

.form-group {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.form-group input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #555;
}

.form-group textarea {
    height: 250px;
}

.success-message {
    text-align: center;
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

/* menubar-dropdown*/
.dropdown {
    position: relative;
    display: inline-block;

}

.dropbtn {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    background: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 25px 8px;

}
.dropdown-content {
    display: none;
    background-color: #ebebebec;
    position: center;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.521);
    padding: 15px 25px 15px;
    z-index: 1;


}

.dropdown-content a {
    color: rgb(22, 13, 13);
    padding: 10px 1px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown:hover .dropdown-content  {
    display: block;

}

/* notification */
.custom-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    z-index: 1000;
}

.notification-content {
    flex-grow: 1;
}

.notification-title {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333333;
}

.notification-message {
    font-size: 14px;
    color: #777777;
}

.notification-close {
    background-color: #ff6347;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.notification-close:hover {
    background-color: #e74c3c; 
    color: #ffffff;
}  


    /* design */

.slider-container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.slider-brand {
    height: 150px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.slider-brand a{
    position: relative;
    place-items: center;
    text-decoration: none

}


.slide-track {
    display: flex;
    width: calc(250px * 25);
    animation: scroll 25s linear infinite;

}

.slide-track:hover{
    animation-play-state: paused;
}


@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));

    }
}

.slide-brand {
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 20px;
    perspective: 100px;
}


.slider-brand::before,
.slider-brand::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: relative;
    width: 15%;
    z-index: 2;
}

.slider-brand::before {
    left: 0;
    top: 0;
}

.slider-brand::after {
    left: 0;
    top: 0;
    transform: rotateZ(180deg);
}

 .btn  {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 10px 10px 10px 10px;
    font-size: 1.4rem;
    text-transform: capitalize;
    color:#ffffff;
    cursor: pointer;
    text-align: center;
    background-color: #333;
 }
@media screen and (max-width: 768px) {
  .footer .grid {
    grid-template-columns: 1fr;
  }
}


  /*product_catalog*/
  
  .nav-icons {
    display: flex;
    align-items: center;
}

.nav-icon {
    margin: 0 10px;
    position: relative;
}

.nav-icon a {
    display: inline-block;
    text-decoration: none;
    color: #333; 
    transition: color 0.3s;
}

.nav-icon a:hover {
    color: #007bff; 
}

.icon-count {
    background-color: #f00; 
    color: #fff; 
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}
  
.disabled-button {
    pointer-events: none; 
    opacity: 0.6; 
    background-color: #f5f5f5; 
    color: #333; 
    border: none;
    padding: 0;
    cursor: default;
}

.disabled-link {
    text-decoration: none;
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


  .message-box {
    display: none;
    position: fixed;
    top: 20px; 
    right: 20px; 
    background-color: green;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.message-text {
    color: #fff;
    margin: 0;
    font-size: 18px;
}

.container-catalog {
    max-width: 1200px;
    margin: auto;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 30px;
    background-color: #ffffff;
}

.sidebar{
    width: 100%;
    align-items: left;
    display: flex;

}
  
.Product-header{
    text-align: left;
	color:  rgb(0, 174, 255); 
    border-bottom: 1px solid #e1e1e1;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 20px;

}

.left-sidebar{
    width: 20%;
    border: #e7ecf1 1px solid;
    align-items: left;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
  
.left-sidebar h3{
    text-align: left;
	color:  rgb(39, 37, 37);  
    border-bottom: 1px solid #e1e1e1;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 20px;

}

.panel-catalog{
    margin-bottom: 30px;

}

.catalog-title {
    color: rgb(83, 83, 83);
    padding-bottom: 2px;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 2px;

}

.catalog-title a {
    padding-bottom: 2px;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    margin-bottom: 2px;
    text-decoration: none;
    color: rgb(83, 83, 83);

}
.panel-catalog-default :hover {
	color:  rgb(0, 174, 255); 
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

}

.brand-title{
    color: rgb(83, 83, 83);
    padding-bottom: 5px;
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
    margin-bottom: 2px;

}

.brand-title a {
    padding-bottom: 2px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    text-decoration: none;
    color: rgb(83, 83, 83);

}

.panel-brand{
    margin-bottom: 30px;
}

.center-bar{
    width: 80%;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    height: 60%;
    display:flex;

}

.center-bar h2{
    margin-bottom: 10px;
    text-align: center;
    color: #0056b3;

}

.banner{
    width: 50%;
    height: 50%;

}

.banner-img img{
    width: 300px;
    height: 255px;

}

.banner-scd{
    width: 100%;
    height: 100%;

}

.banner-img_scd img{
    width: 600px;
    height: 514px;

}


.bottom-adjuster{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;

}

.panel-product{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    background-color: rgb(255, 255, 255);

}

.panel h3{
    text-align: center;
	color:  rgb(97, 92, 92); 
    border-bottom: 1px solid #e1e1e1 ;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 28px;

}

.product-image-wrapper{
	border:2px solid #c7e3ff56;
	overflow: hidden;
	margin-bottom:30px;
    margin-left: 10px;

}

.single-products {
    position: relative;
    text-align: center;
}

.productinfo h2{
	color:  rgb(0, 174, 255); 
	font-size: 24px;
	font-weight: 700;
}

.product-overlay h2{
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}


.productinfo p{
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-imgsize{
    width: auto;
    height: auto;

}

.product-imgsize img{
    width: 260px;
    height: 300px;
    background-size: 90px 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-overlay {
  background: rgba(0, 174, 255, 0.548); 
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 1000ms ease 0s;
  width: 100%;
  display: block;
}

.single-products:hover .product-overlay {
  display:block;
  height:106%;
}

.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: rgb(0, 174, 255); 
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color:  rgb(0, 174, 255); 
}

.product-overlay p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.add-to-cart {
    background:none;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.2s ease;
  }
  
.add-to-cart:hover {
    background:  rgb(0, 174, 255); 
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
  }
  
.add-to{
    margin-bottom: 10px;
  }
  
.add-to-cart i{
      margin-right:5px;
  }
  
.add-to-cart:hover {
    background:  rgb(0, 174, 255); 
    color: #FFFFFF;
  }
  
.choose {
    border-top: 1px solid #F7F7F0;
    display: flex;
  }

.choices {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}
  
.choose ul a {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 1px;
    padding-right: 1px;

}

.choose input[type=submit] {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 1px;
    padding-right: 1px;
    border: none;
    text-decoration: underline;
    background: none;
}

.choose ul input[type=submit]:hover {
    background:none;
      color: rgb(0, 174, 255); 
}
  
.choose ul a i{
      margin-right:1px;
}
  
.choose ul a:hover{
      background:none;
      color: rgb(0, 174, 255); 
}

.login-prompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.login-prompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.login-prompt-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.login-prompt-content h2 {
    margin: 0 0 10px;
}

.login-prompt-content p {
    margin: 0 0 20px;
}

.login-prompt-content a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-prompt-content a:hover {
    background-color: #0056b3;
}

/* login-dropdown*/

.login-dropdown {
    position: relative;
    display: inline-block;
}

.login-dropbtn {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #1e90ff;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}

.login-dropdown-content {
    display: none;
    position: absolute;
    background-color: white; 
    border: 1px solid #ccc; 
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 100%; 
}

.login-dropdown-content a {
    color: #333; 
    padding: 12px 16px; 
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.login-dropdown-content a:hover {
    background-color: #f0f0f0;
}

.login-dropdown:hover .login-dropdown-content {
    display: block;
}

.login-dropdown-content a:last-child {
    margin-bottom: 0; 
}

.login-dropbtn img {
    vertical-align: middle; 
    margin-right: 8px;
}

  .mini-container {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .mini-container.show {
    display: block;
  }

  .mini-container a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }

  .mini-container a:hover {
    background-color: #f5f5f5;
  }





  /* other-designs */

.see-more {

    justify-content: center;
    display: flex;
    max-width: 100%;
    padding-top: 20px;

}

.see-more button {
    background-color: rgb(0, 174, 255); 
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.see-more a {
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.deals {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;


}

.deals-box {
    width: 300px;
    margin: auto;
    padding-top: 13px;
    padding-left:  10px;
    padding-bottom: 5px;
    border: 3px solid rgba(156, 156, 156, 0.068);
    display: flex;

}

.deals-box-img img{
    width: 100px;
    height: 60px;
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;

}

.deals-box-img p{
    padding-left: 140px;
    padding-right:  20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    align-items: center;

}
  
 
  /* Footer */


  .footer {
    background-color:  #368BC1;
    color: #ffffff;
    padding: 2% 1% 10px;


  }
  
  .footer .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .footer .box {
    margin-bottom: 20px;

  }
  
  .footer h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    padding-left: 30%;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .grid .box a i{
    padding-right: 1rem;
    color:var(--main-color);
    transition: .2s linear;
   }
  
  .footer i {
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .footer p {
    margin-top: 10px;
  }
  
  .credit {
    margin-top: 30px;
    text-align: center;
  }
  
  .kdqg {
      font-family: Arial, Helvetica, sans-serif 
  }
  
  .itechnologies {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }



  /* Product View */

.product-view{
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    border: rgba(255, 255, 255, 0) 1px solid;

}

.productdecription-box{
    margin-left: 330px;
    margin-top: 300px;
    padding-left: 20px;

}

.product-review h2{
    text-align: left;
    color: rgb(0, 174, 255);
    font-size: 30px; 

}
.product-review h3{
    text-align: left;
    color: rgb(25, 64, 100);
    font-size: 25px; 
    padding-top: 10px;
    padding-bottom: 10px;

}

.product-view-box{
    padding-top: 10px;
    padding-left: 10px;
    float: left; 

}

.product-view-box img{
    border: rgb(228, 228, 228) 1px solid;
    max-width: 310px;
    width: 310px;
    height: 310px;

}

.product-reviewbtn {
    justify-content: left;
    display: flex;
    max-width: 100%;
    padding-right: 10px;

}

.product-reviewbtn button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(139, 146, 150); 
    margin: 2px;
}

.product-reviewbtn a {
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.Small-description h3{
    text-align: left;
    color: rgb(138, 138, 138);
    font-size: 20px; 
    padding-top: 35px;
    padding-bottom: 1px;
}

.product-review-bottom{

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: rgb(243, 243, 243) 1px solid;

}

.description{
    text-align: left;
    font-size: 16px; 
    padding-top: 0px;
    padding-bottom: 1px;

}
.description h3{
    text-align: left;
    color: rgb(49, 49, 49);
    background-color: rgb(180, 180, 180);
    font-size: 20px; 
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.description p{
    text-align: justify;
    font-size: 16px; 
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.login-message {
        background-color: #f44336; 
        color: white; 
        text-align: center; 
        padding: 10px; 
        margin-bottom: 5px;
        border-radius: 5px; 
    }

    .alert {
        background-color: #f44336;
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }

    .alert.success {
        background-color: #4CAF50;
    }
